a {
    text-decoration: none;
}
.form-control {
    background-color: #f8f9fa;
}
.scrolling-table {
    height: unset;
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto;
    position: relative;
}
.table tbody {
    vertical-align: unset;
    max-height: 90vh;
    overflow: hidden;
    z-index: -1;
}
